.DS_Store
Makefile.properties
Makefile.jp.properties
Makefile.us.properties
apps/game/kubernetes/game-deployment.yaml
apps/game/containers/default/assets/js/config.js
apps/admin/kubernetes/admin-deployment.yaml
apps/api/kubernetes/api-deployment.yaml

/Makefile.au.properties
/Makefile.us.old.properties
/Makefile.eu.properties
/Makefile.sg.properties
/apps/ingress/ingress.yaml
/apps/admin/containers/main
/apps/api/containers/main
/Makefile.de.properties
Makefile.uk.properties
